<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{if embed:seo_title}{embed:seo_title}{if:else}{embed:page_title}{/if} - {site_name}</title>
	<meta http-equiv="Content-Type" content="text/html">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="GreenImp Web - greenimp.co.uk">

	<link href="{site_url}assets/css/reset.css" rel="stylesheet">
	<link href="{site_url}assets/css/screen.css" rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>

<body>
	<div id="wrapper">
		<h1>{embed:page_heading}</h1>